@keyframes bumping {
  0% {
    height: 256px;
    width: 256px;
  }
  10% {
    height: 512px;
    width: 512px;
  }
  20% {
    height: 256px;
    width: 256px;
  }
  30% {
    height: 320px;
    width: 320px;
  }
  100% {
    height: 256px;
    width: 256px;
  }
}

@keyframes grooving {
  0% {
    fill: #FA5C66; /* strawberry */
  }
  5% {
    fill: #FFC0CB; /* peach */
  }
  10% {
    fill: #F0941C; /* apricot */
  }
  20% {
    fill: #7A7DB5; /* blueberry */
  }
  100% {
    fill: #c41ec4; /* plum */
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.headband, .ear-end, .ear-bar, .peach {
  animation: grooving 0.5s 4;
}