html, body {
  width: 100%;
  min-height: 100vh;
  line-height: 1.42em;
}

.anton {
  font-family: 'Anton', sans-serif;
}

.fjalla {
  font-family: 'Fjalla One', sans-serif;
}

.libre-franklin {
  font-family: 'Libre Franklin', sans-serif;
}
